h1 {
    color: #FF0;
}
h2, h3 {
    color: #FC0;
}

table {
    padding-top: 20px;
}

table tr:nth-child(even) {
    background-color: #040;
}

table th {
    font-family: monospace;
    font-size: 20px;
    color: #CC0;
    background-color: #330;
    position: sticky;
    top: 0;
    z-index: 1;
}
table td {
    font-family: monospace;
    font-size: 20px;
    text-align: right;
    z-index: 0;
}

.up {
    color: #0A0;
}
.down {
    color: #F50;
}
.gray {
    color: #000;
}

.hiscore_table td:nth-child(4) {
    text-align: left;
}
.hiscore_table td:nth-child(8) {
    text-align: center;
}

input {
    color: white;
}

@media screen and (max-width: 1225px) and (min-width: 1045px) {
    .hiscore_table td:nth-child(3), .hiscore_table th:nth-child(3){
        display:none;
    }
    .hiscore_table td:nth-child(6), .hiscore_table th:nth-child(6){
        display:none;
    }
}

@media screen and (max-width: 1045px) and (min-width: 835px) {
    .hiscore_table td:nth-child(1), .hiscore_table th:nth-child(1){
        display:none;
    }
    .hiscore_table td:nth-child(3), .hiscore_table th:nth-child(3){
        display:none;
    }
    .hiscore_table td:nth-child(6), .hiscore_table th:nth-child(6){
        display:none;
    }
}

@media screen and (max-width: 565px) and (min-width: 300px) {
    .hiscore_table td:nth-child(1), .hiscore_table th:nth-child(1){
        display:none;
    }
    .hiscore_table td:nth-child(3), .hiscore_table th:nth-child(3){
        display:none;
    }
    .hiscore_table td:nth-child(6), .hiscore_table th:nth-child(6){
        display:none;
    }
    .hiscore_table td:nth-child(7), .hiscore_table th:nth-child(7){
        display:none;
    }
    .hiscore_table td:nth-child(10), .hiscore_table th:nth-child(10){
        display:none;
    }
    .hiscore_table td:nth-child(11), .hiscore_table th:nth-child(11){
        display:none;
    }
    .hiscore_table td:nth-child(12), .hiscore_table th:nth-child(12){
        display:none;
    }
}

@media screen and (max-width: 300px) {
    .hiscore_table td:nth-child(1), .hiscore_table th:nth-child(1){
        display:none;
    }
    .hiscore_table td:nth-child(3), .hiscore_table th:nth-child(3){
        display:none;
    }
    .hiscore_table td:nth-child(6), .hiscore_table th:nth-child(6){
        display:none;
    }
    .hiscore_table td:nth-child(7), .hiscore_table th:nth-child(7){
        display:none;
    }
    .hiscore_table td:nth-child(8), .hiscore_table th:nth-child(8){
        display:none;
    }
    .hiscore_table td:nth-child(9), .hiscore_table th:nth-child(9){
        display:none;
    }
    .hiscore_table td:nth-child(10), .hiscore_table th:nth-child(10){
        display:none;
    }
    .hiscore_table td:nth-child(11), .hiscore_table th:nth-child(11){
        display:none;
    }
    .hiscore_table td:nth-child(12), .hiscore_table th:nth-child(12){
        display:none;
    }
}
