.hiscore_table {padding-top: 20px;}

.hiscore_table tr:nth-child(even) { background-color: #040;}

.hiscore_table th {
    font-family: monospace;
    font-size: 20px;
    color: #CC0;
    background-color: #330;
}
.hiscore_table td {
    font-family: monospace;
    font-size: 20px;
    text-align: right;
}

.up {color: #0A0; }
.down {color: #F50; }

.hiscore_table td:nth-child(4) {
    text-align: left;
}
.hiscore_table td:nth-child(8) {
    text-align: center;
}

input {
    color: white;
}